[2020-05-26 02:39] rob2791 opened #1 "Multiple Ranges Stacked"
Nice project! I've got it running, instructions were easy to follow, only took about 10 minutes before I had it up. I'm pulling data from my budget spreadsheet, look up TillerHQ if you're interested.

Is there any way to have it pull multiple ranges? Maybe something like "A1:B7&C1:D7", where the second range would be just underneath it. I'm going to try putting in a new module with my second range

[2020-05-26 03:20] ryan-d-williams commented on #1
Thank you for the feedback!

That's a good feature idea, I'll go ahead and add it when I get a chance.

If you're looking for a quick fix, you can create a new sheet in your spreadsheet and concatenate the two ranges into one range to show on the mirror (or even a new spreadsheet that references the existing spreadsheet if you don't want to adjust anything in the original spreadsheet).

Your use c

[2020-06-28 22:59] jonnyscott10 opened #2 "Module Displayed, Sheet Not"
Hi, the module seems to be loading okay no errors to be seen in the dev console but the sheet is not loading as can be seen on the following image

![image](https://user-images.githubusercontent.com/61477741/85960439-537d2000-b99b-11ea-98d1-6cfa4c54b0f5.png)

[2020-07-09 03:27] ryan-d-williams commented on #2
@jonnyscott10 do you mind passing what your configuration looks like for the module? If your sheet data is private you can leave out the link otherwise I can try it out to see what's going wrong.

[2020-07-10 10:41] jonnyscott10 commented on #2
{
  					module: "MMM-GoogleSheets",
 					header: "Schedule",
  					position: "top_left",
 					config: {
    						url:"https://script.google.com/macros/s/AKfycbyOLx0LB8ro-g8RiW4LAf7fsCbWeKgUUHfOSAp5wCz_kkVElimZ/exec",
    						sheet: "Sheet1",
    						range: "A1:B10",
    						updateInterval: 1, // minutes
    						},

[2020-07-10 18:32] ryan-d-williams commented on #2
@jonnyscott10 it looks like you have a permission issue. When I click on your link, it requires a login (which it should not). If it requires a login when you click on it, that means it would also require a login when it is hit by magic mirror.

You need to remove the permissions of your script to get it to work. My best guess without seeing the way you set up the file is you missed this step in t

[2020-07-10 19:43] jonnyscott10 commented on #2
Hi, yes it seems it was set to public but not as me as a user, the module now shows undefined and I am currently researching this issue, if you want to have a look now you should be able to look at the script without logging in

[2020-07-14 20:11] amanzimdwini opened #3 "Info on config, please"
Nice project!  I am struggling with the config file though - can you please add the ones that you used for the various examples that you show on the ReadMe? Right now I cant make my background black (or transparent, which would be even better), and my last effort to change the background made my fonts smaller. Sigh.

Thanks for all the work - I love the module.
Karl

[2020-07-29 19:49] emrahaslan opened #4 "ypeError: Cannot read property '0' of undefined (row: 11, file: "Code")"
I applied all your guide on Scprit Editor.
But when I run the module, It shows "loading"

`{
  module: "MMM-GoogleSheets",
  header: "Google Sheets",
  position: "top_right",
  config: {
    url: "https://script.google.com/macros/s/AKfycbw8yIKosRs-BZooJ7cFKG4ppCvImCjmgikIZI0ke0EsIs4I6zs/exec",
    sheet: "Sheet1",
    range: "A1:B1"
  }
}

![1](https://user-images.githubusercontent.com/54321532/88

[2020-07-29 19:52] emrahaslan commented on #4
My Version is :

"name": "magicmirror",
"version": "2.12.0",

[2020-07-29 23:46] ryan-d-williams commented on #4
@emrahaslan when I run magic mirror with that exact config it works fine. Are you seeing any errors besides it saying "loading" all the time? Are your other modules running okay?

[2020-07-29 23:47] amanzimdwini commented on #4
All running fine

On Wed, Jul 29, 2020 at 16:46 ryan-d-williams <notifications@github.com>
wrote:

[2020-07-29 23:48] ryan-d-williams commented on #2
@jonnyscott10 when I run magic mirror with your config it works fine. Are you still having issues?

[2020-07-29 23:50] ryan-d-williams commented on #3
@amanzimdwini I can definitely add some sample configs. Which example would you like to see?

[2020-07-29 23:51] ryan-d-williams commented on #4
I noticed it was @amanzimdwini who commented not @emrahaslan. @emrahaslan let me know if you are still seeing issues.

[2020-07-29 23:54] ryan-d-williams commented on #1
@rob2791 the more I think about this feature, the more I think it would actually make more sense to just create a new sheet that incorporates all the data you need and add that sheet to your magic mirror. The reason being the two different ranges (or many ranges for that matter) will have to account for different sizes, styling, merges, etc. It seems the most logical answer is to just allow one ra

[2020-07-30 04:41] amanzimdwini commented on #3
I like ALL of your examples  :)   And I am wondering if there is a way to make the background TRANSPARENT?

[2020-07-30 08:22] emrahaslan commented on #4
Yes my other modules are working fine.
It is always says loading.
I tried to solve ans debug this 4 hours but no result
I want to understand where problem is ç, google script or magic mirror
Please help me

[2020-07-30 09:15] emrahaslan commented on #4
Now It's works with white background ! I have to work on stylesheets. thank you

[2020-07-30 09:15] #4 closed

[2020-07-30 10:00] emrahaslan opened #5 "Transparent Background and dynamic size"
Hello Ryan,

1- Is it possible to make transparent background for row ? It looks white and black,  I disable it for mirror.

2- Also I dont need to set exact range, i am expecting to dynamic change, when user add new row , is it possible to show without set new range in config file ?

[2020-07-30 11:12] emrahaslan commented on #5
I found solution for my first question with custom css. !
here is my code :

`.module.MMM-GoogleSheets table td {
  line-height: 1.75 !important;
  color:white !important;
  background-color:transparent !important;

}`

[2020-07-30 13:55] emrahaslan opened #6 "Multiple Instances Issue"
Hello again.

I have two diffrent sheet and I would like to show them with diffrenet pages.

I'ım using MMM-Pages module for this.

Page 1 - > Module for  Sheet 1  display
Page 2 - > Module for  Sheet 2  display

Could you please help me about this issue ?

[2020-07-30 23:07] ryan-d-williams commented on #3
@amanzimdwini you can make background colors transparent with the `customStyles` property

Ex:
`customStyles: ["background-color: transparent"]`

[2020-07-30 23:11] ryan-d-williams commented on #5
@emrahaslan

1. You can make the background color transparent with the `customStyles` property

Ex: `customStyles: ["background-color: transparent"]`

**Note that setting `cellStyle` to `flat` will also make it appear transparent on your MM.
Also note that setting your google sheet to a black background for the cells you are displaying will also make it appear transparent on your MM.**

2. There i

[2020-07-30 23:11] #5 closed

[2020-07-30 23:12] ryan-d-williams commented on #6
@emrahaslan I unfortunately cannot help with other modules. I would suggest posting to that module's repo if you are having issues with their module. There is no reason you cannot make multiple instance of this module however as long as both of the configurations are correct.

[2020-07-30 23:12] #6 closed

[2020-07-30 23:15] amanzimdwini commented on #3
THAT IS PERFECT.  You da man!
Thanks for a GREAT module

[2020-07-30 23:16] emrahaslan commented on #6
Hi Ryan, I think there is missunderstood.

Could you please tell how can i duplicate this module?

I would like to display my “Sheet1” into bottom_left and my “Sheet2” into bottom_right. Is that possible?

[2020-07-30 23:18] emrahaslan commented on #6
I need to two different instance like,

MMM-GoogleSheets
MMM-GoogleSheets_2

[2020-07-30 23:58] ryan-d-williams commented on #6
@emrahaslan yes it is possible. You can just add them as two different instances in your config file, each with a separate location

`{
    module: "MMM-GoogleSheets",
    header: "First Instance",
    position: "bottom_left",
    config: {
        url:"url",
        sheet: "Sheet1",
        range: "range"
},{
    module: "MMM-GoogleSheets",
    header: "Second Instance",
    position: "top_left",

[2020-08-03 11:14] jonnyscott10 commented on #2
@ryan-d-williams it currently is still showing undefined on the module

[2020-08-13 03:46] theLoganaut opened #7 "MM displaying only 'Loading...' for sheets on startup"
Hello, when I open the google sheets link I was given from the script page, it throws me;

TypeError: Cannot read property '0' of undefined (line 11, file "Code")

I've made sure the file is open even to anon, and I pasted your code into the google scripts page. When I open in MM it shows the header and below is just 'Loading ...'.

Now I did use mmpm to install instead of cloning from github, whi

[2020-08-18 14:41] gonzonia opened #8 "Multiple sheets with MMM-Pages"
I'm using Google Sheets to display my kids homework assignments from their classes. Unfortunately, every year they change the formatting. When it was just my one kid at this school I used to have code to scrape the various pages for the data. Then last year they were nice enough to use Google Calendars. Now, they seem to be all back to Google Docs but at least in a common format I can import into

[2020-08-18 15:27] gonzonia commented on #8
Just as a note. I'm currently able to fit both sheets on the screen so when it loads the page it displays them both, but I could see a value in being able to page through multiple. Maybe I'm missing some way to "name" each instance of the module?

[2020-08-18 20:42] gonzonia opened #9 "Line breaks in cell are lost?"
I'm noticing that if a cell has a line break (carriage return?) It is lost when it is displayed from the module.
This is the cell in Google Sheets
<img width="388" alt="Screen Shot 2020-08-18 at 4 40 58 PM" src="https://user-images.githubusercontent.com/36857621/90563386-bc01a580-e171-11ea-83fc-d43556a8ad16.png">
This is the cell as displayed by the module.
<img width="449" alt="Screen Shot 2020-0

[2020-09-07 14:37] gonzonia commented on #9
Figured it out. New lines are convereted to "whitepsace"

Added  `white-space: pre-line;` to the custom CSS for the module and this problem goes away.

[2020-09-07 14:37] #9 closed

[2020-09-18 11:19] josephdjenandji opened #10 "Google No"

[2020-09-18 11:20] josephdjenandji commented on #10
<img width="959" alt="Screen Shot 2020-09-18 at 1 18 16 PM" src="https://user-images.githubusercontent.com/16668643/93592007-b20dd500-f9b1-11ea-8315-15375538b62f.png">

[2020-09-25 14:47] ryan-d-williams commented on #10
@josephdjenandji what step in the process is this?

[2020-09-30 08:34] josephdjenandji commented on #10
Click Deploy
If this is your first time deploying the app, it will ask you to grant permissions
Click "Review Permissions"
**Click on your gmail account (the one that owns the spreadsheet)
In the popup that says "This app isn't verified" click on "Advanced" and then "Go to {project name} (unsafe)"**

[2020-10-01 14:56] gonzonia opened #11 "Displaying cached data?"
I'm noticing a weird behavior but I can't seem to nail down the cause.
I've got two sheets I'm displaying. Each sheet is a kids homework for the week.
In the config file, I have them as two different modules displaying in different areas of the screen.
They were working great until this week when one of them decided to stop updating and continues to display last week's data despite the Google Shee

[2020-10-13 14:06] citadella opened #12 "Unable to Deploy as Web App"
I'm unable to get past the Deploy as web app step, sitting stuck on this screen indefinitely:

![image](https://user-images.githubusercontent.com/31351568/95871513-07998f80-0d6e-11eb-81ba-bb6173f112a3.png)

Is there something amiss behind the scenes?

[2021-01-18 14:28] nymeia opened #13 "Unable to get data on MM"
My sheet keeps saying Loading ...

I have added your script to my Google Sheet:
function doGet(e){
  return MMMGoogleSheets.doGet(e);
}

When trying to go to my script URL it says:
ReferenceError: MMMGoogleSheets is not defined (regel 2, bestand 'Code')

When i run PM2 LOGS from  the console i get the following error:

0|MagicMirror  | [18.01.2021 15:07.59.957] [ERROR]
0|MagicMirror  | Whoops! The

[2021-01-18 14:29] #13 closed

[2021-02-05 12:48] kalecream commented on #2
I'm also having this issue.

[2021-02-14 11:01] batuhanyklmz opened #14 "TypeError: Cannot read property '0' of undefined (line 11, file "Code")"
When I deploy and use link from script, i keep getting this error. On the magic mirror module, it is opening, but it is keep waiting to load. Do you have any idea guys? I have done everything in instructions.

[2021-02-16 21:04] ryan-d-williams commented on #14
@batuhanyklmz if the data in your sheet is not sensitive or private, can you please post the link? That will help me determine what his going wrong with your module

[2021-02-16 21:08] ryan-d-williams commented on #12
@citadella I'm not entirely sure why it would be loading indefinitely. Might be a service issue with google apps script. Have you tried it on multiple days or just the one time?

[2021-02-16 21:10] ryan-d-williams commented on #11
@gonzonia I can't seem to replicate your issue. If the data in your sheet(s) is not private / sensitive, do you mind posting the links to the sheets with what you expect to see and what you're actually seeing?

[2021-02-16 21:13] gonzonia commented on #11
At some point this resolved. I'm going to close it. If I notice again I'll re-open and try to post more info.

[2021-02-16 21:13] #11 closed

[2021-02-16 21:14] gonzonia commented on #8
Since I'm here I'll add that I ended up making a duplicate copy of the module with a different name so that I could make this work. The teachers just couldn't keep their homework info in a nice small cell.

[2021-02-16 21:17] ryan-d-williams commented on #10
@josephdjenandji are you signed into your google account when you press deploy? Do you mind posting a screenshot of what you're seeing prior to pressing deploy?

[2021-02-16 21:26] ryan-d-williams commented on #8
@gonzonia thanks for the update.

Based on [this forum post](https://forum.magicmirror.builders/topic/10228/multiple-instances-of-mmm-darkskyforecast-with-mmm-pages), it does seem that the only way to get multiple instances of the same module with MMM-Pages is to use a copy of the same module with a different name.

You can also check out this module: [MMM-Page-Selector](https://github.com/Veldrov

[2021-02-16 21:26] #8 closed

[2021-02-16 21:30] ryan-d-williams commented on #7
@katawatsu the reason you are getting this issue is because you cannot just click the link by itself. The module inserts parameters that are required as part of the link to get data from it.

If the data in your sheet is not sensitive / private, can you post the full config you are using? It is likely a config problem that is causing the loading issue.

[2021-02-16 21:37] ryan-d-williams commented on #2
@kalecream can you please post the config you are using?

[2021-02-16 21:38] ryan-d-williams commented on #2
@jonnyscott10 I have tried that exact config again and it is working fine. Can you try making sure you config matches what you have above? If that exact config is working for me and not for you it is likely an issue with your setup.

[2021-02-16 21:40] ryan-d-williams commented on #1
@rob2791 I'm going to go ahead and close this issue based on what I said above (just creating a new sheet with the stacked data yourself rather than adding the complexity of two different configurations). If you have additional reasons you think this would be a good feature please let me know!

[2021-02-16 21:40] #1 closed

[2021-02-16 22:11] kalecream commented on #2
[code]

However, I'm sure the problem isn't our configuration, since we are getting this error (click on image below) from the google script library. It keeps pointing back to line 11 of the code from my last message.
![Screenshot from 2021-02-16 17-07-47](https://user-images.githubusercontent.com/44611104/108127841-d7466280-7079-11eb-8e21-969acd7f1d66.png)

[2021-02-16 22:44] ryan-d-williams commented on #2
@kalecream clicking on the link it provides should provide an error. This is because you are not providing the sheet and range to the url, so it errors. If you want to have the link not produce an error, you can try the link with this format:
url?sheet={sheetname}&range={range} so for example, the url from @jonnyscott10 above would be
[https://script.google.com/macros/s/AKfycbyOLx0LB8ro-g8RiW4LAf7

[2021-02-16 22:49] ryan-d-williams commented on #2
@kalecream also note that the module does this url formatting for you automatically based on the config file. What I said above is just for you to see if the url itself is working or not, you do not need to change your module at all.

[2021-02-17 14:18] batuhanyklmz commented on #14
I allow my excel data to everyone from sharing option. Let me share the config with you. https://drive.google.com/file/d/1ilquDMKfh-23HpvWyHsp765O-tGj-U1G/view?usp=sharing

Here you can find my config.js file.

[2021-02-17 14:19] batuhanyklmz commented on #14
by the way I know it is is comment section. I did it to ignore that part.

[2021-02-17 14:36] ryan-d-williams commented on #14
@batuhanyklmz the link your config file to your script does not work (https://script.google.com/macros/s/AKfycbxGe9TaH7ADp221HblDkOYwfgcnRRmLqJ-XJHNuTnpDf94AmZqb-jn3/exec).

This is likely a deployment problem. Did you deploy the script?

[2021-02-17 14:56] batuhanyklmz commented on #14
Yes I deployed it maybe 16 times. Version says 16 in the deployment.

[2021-02-17 15:04] ryan-d-williams commented on #14
Can you post the link it gives you when you deploy? The link you provided in the config is not correct - try typing that link into the browser and you will see it does not lead to a google apps script

[2021-02-17 15:05] batuhanyklmz commented on #14
![1](https://user-images.githubusercontent.com/32879633/108223199-9d915c80-714a-11eb-8da1-9cf665a3dadf.PNG)
![2](https://user-images.githubusercontent.com/32879633/108223200-9e29f300-714a-11eb-9b56-12e25b2a7ea3.PNG)

https://script.google.com/macros/s/AKfycbxGe9TaH7ADp221HbIDkOYwfgcnRRmLqJ-XJHNuTnpDf94AmZqb-jn3/exec

[2021-02-17 15:06] batuhanyklmz commented on #14
When i deploy new one still it gives same wep app link

[2021-02-21 21:49] gonzonia commented on #8
@ryan-d-williams Thanks for pointing me at MMM-Page-Selector. It took some fiddling but I was able to accomplish what I wanted.

[2021-02-25 21:11] calvinhus opened #15 "TypeError: Cannot read property 'parameters' of undefined"
Hi,
First of all, great module!
But when I try to deploy it I get that error. My mirror displays the module (I see the header and below it just stays loading...)
Any idea what it might be? I did everything as stated.
Thanks

[2021-04-01 13:03] Qhair-LUO opened #16 "Multiple ranges"
I have some questions about range, for example:
If I want both ranges A1:C10 and F1:G10 from the same googlesheet.
Anyone can help me?

[2021-04-01 16:57] ryan-d-williams commented on #16
The best way to do this is to create a new sheet that combines the data from both of those ranges into a single range and then use that range for the module

[2021-04-01 16:57] #16 closed

[2021-04-01 17:01] ryan-d-williams commented on #14
@batuhanyklmz can you post a sample of your spreadsheet? Is there a sheet called "Sheet1"?

[2021-04-03 22:55] richcj10 opened #17 ""..Loading..""
Any thoughts on how to debug?

`
	{
	  module: "MMM-GoogleSheets",
	  header: "House Rules",
	  position: "top_center",
	  config: {
	    url: "https://script.google.com/macros/s/AKfycbwsIT7L5aJYwLip1s7Clrorg1r_wNsEOctO1dz5/exec",
	    sheet: "HouseRules",
	    range: "A1:B2",
	  }
	},

`

Any way to debug it?

[2021-04-03 22:59] ryan-d-williams commented on #17
Looks like there is not a sheet with the name "HouseRules". You should start by verifying that there is a sheet with that exact name.

[2021-04-03 23:36] richcj10 commented on #17
![image](https://user-images.githubusercontent.com/2460605/113494166-72b95880-94ab-11eb-990d-176c125e38bf.png)

There should be...

[2021-04-03 23:40] ryan-d-williams commented on #17
@richcj10 "HouseRules" is the name of the spreadsheet. The name of the sheet is at the bottom of the screen.

It seems as though the sheet name is "Sheet1". If you change the sheet name to "Sheet1" in your config file it should work as expected.

[2021-04-03 23:48] richcj10 commented on #17
LOL, thanks for that... I feel so stupid...haha

[2021-04-03 23:55] ryan-d-williams commented on #17
Happy to help!

[2021-04-03 23:55] #17 closed

[2021-04-03 23:56] ryan-d-williams commented on #15
@calvinhus can you post your config for the module? That's going to be the best way for us to help you debug

[2021-04-04 12:46] batuhanyklmz commented on #14
Actually everything works fluently now. Thank you for providing this MMM feature.

[2021-04-06 14:54] calvinhus commented on #15
Hi @ryan-d-williams ,

Thanks for your reply.

My config is like this:
[code]
Also, my sheet is just like this:

![image](https://user-images.githubusercontent.com/49272934/113731013-50fce300-96f0-11eb-8f0e-919fae9dfd59.png)

[2021-04-06 20:27] ryan-d-williams commented on #15
@calvinhus the link you provided was not deployed correctly (it is not available to all, even anonymous). I would recommend reviewing the deployment steps to make sure you have them all correct.

[2021-04-06 20:27] ryan-d-williams commented on #14
Happy to help!

[2021-04-06 20:27] #14 closed

[2021-04-07 15:24] calvinhus commented on #15
@ryan-d-williams you're right. I went through all the steps again and it's working now. Many thanks!

[2021-04-11 19:29] ryan-d-williams commented on #15
Happy to help!

[2021-04-11 19:29] #15 closed

[2021-06-21 18:08] Firephly commented on #2
@ryan-d-williams Firstly excellent work on this, or at least so far and potentially.

I to had the line 11 problem but it turned out im dumb and put the book name not the sheet name.

It all works if i type the url in browser with the range and sheet parameters but not in the module.
I see the message

missing required parameter:url
missing required parameter:sheet
missing required parameter:range

[2021-07-29 00:17] wkswenson opened #18 "Love the module - couple of issues"
Love this module - created a meal plan display and Stock tracker already.

Right Align text doesn't seem to be working (always left aligns or center)
![mmm](https://user-images.githubusercontent.com/86683847/127412392-f17ae32d-bfa6-487e-b1d3-a903ef1f7e18.png)

Multi-line text doesn't seem to be working (just creates one lone run-on cell of text)

[2021-07-29 00:46] wkswenson commented on #18
Used cellStyle="flat" and that seems to fix the multi-line issue

[2021-10-04 21:42] Bluefish67 opened #19 "Is it still maintained?"
I ask because after an installation the whole thing no longer seems to work.
Sorry for my bad English, DeepL was helpful ;)

[2021-10-04 21:57] ryan-d-williams commented on #19
@Bluefish67 yes it is maintained (albeit not very frequently).

Which part of the installation process is not working for you?

[2021-10-04 22:13] Bluefish67 commented on #19
Directly when creating the code:
function doGet(e){
  return MMMGoogleSheets.doGet(e);
}
and save reports Google:
Syntax error: SyntaxError: Unexpected identifier line: 1 file: Code.gs

[2021-10-04 23:46] ryan-d-williams commented on #19
@Bluefish67 can you send a screenshot of what the page looks like before you save and get that syntax error?

If you're getting a syntax error it is likely a copy-paste issue.

[2021-10-05 08:53] Bluefish67 commented on #19
![bild2](https://user-images.githubusercontent.com/91919376/135991344-f268c911-b739-4942-9190-a0ad5b41f194.PNG)
![bild1](https://user-images.githubusercontent.com/91919376/135991407-4dac82dc-b41f-4176-b71c-fb7e08f320d0.PNG)
No matter how you write it, it always comes up with the same error message. As I understand it, the script does not cope with "doGet".
I hope the English of DeepL is understand

[2021-11-01 19:40] winfieldlittle commented on #19
Try function instead of funktion.

[2021-11-01 23:10] ryan-d-williams commented on #19
@winfieldlittle thank you for responding. @Bluefish67 he is correct, you misspelled function in both locations, and you capitalized it in one (it should be lower case). Closing this issue, feel free to open it again if you are still having problems.

[2021-11-01 23:10] #19 closed

[2021-11-29 10:23] #2 closed

[2021-12-03 01:54] skillfulfrog opened #20 "MagicMirror failing to start"
Followed the instructions on the page, whenever I start my magic mirror it fails. Wondering if you have any insight.

[2021-12-03 05:58] ryan-d-williams commented on #20
@skillfulfrog what are your indications? What does your config file look like?

[2021-12-03 06:00] ryan-d-williams commented on #7
@theLoganaut closing this issue as it is stale. Feel free to reopen if you are still having this problem.

[2021-12-03 06:00] #7 closed

[2021-12-03 06:00] ryan-d-williams commented on #12
@citadella closing this issue because it is stale. Feel free to reopen if you are still having this issue.

[2021-12-03 06:00] #12 closed

[2021-12-03 06:01] ryan-d-williams commented on #10
@josephdjenandji closing this issue because it is stale. Feel free to reopen if you are still having this issue.

[2021-12-03 06:01] #10 closed

[2021-12-06 23:58] skillfulfrog commented on #20
I keep getting "Could not load config file" when I attempt to run MagicMirror. My config file is the sample which you posted, using my own URL from the google app.

[2021-12-07 00:07] ryan-d-williams commented on #20
@skillfulfrog that sounds like your overall config file is not formatted properly, not something to do with the module. If the entire magicmirror cannot load the config file, it is unlikely to be an issue with the module. It could also be that the config file is not in the correct location, so the magicmirror cannot find the file to load.

If you post your full config file I might be able to find

[2021-12-07 00:15] skillfulfrog commented on #20
Here is the piece from my config file:

{
  module: "MMM-GoogleSheets",
  header: "Google Sheets",
  position: "bottom_right",
  config: {
    url: "https://script.google.com/macros/s/AKfycbxS7tvQViVgvsrqSJyKDZEhZPtr4oXcbSTgSyxM3JXNyTxDlfNX_QAiaUNXUtPl94Yp0w/exec",
    sheet: "Sheet1",
    range: "A1:B6"
  }
}

I just tried removing this part and everything worked as expected. If it means anything

[2021-12-07 00:18] skillfulfrog commented on #20
I also get the following error message:

'MODULE_NOT_FOUND',
  requireStack: [
    '/home/pi/MagicMirror/modules/MMM-GoogleSheets/node_helper.js',
    '/home/pi/MagicMirror/js/app.js',
    '/home/pi/MagicMirror/js/electron.js',
    '/home/pi/MagicMirror/node_modules/electron/dist/resources/default_app.asar/main.js'

[2021-12-07 02:49] ryan-d-williams commented on #20
If you are getting a MODULE_NOT_FOUND error, that means the MM is unable to find the requested module from the config file. Did you complete step 2 from the installation process (the step involving cloning the module repository to the modules folder)? Note that step 2 is standard for any MM module - you must download the module to your modules folder in order for it to work.

It sounds like MM is

[2021-12-07 02:53] skillfulfrog commented on #20
The module is in the folder, I've followed the steps multiple times. I did notice that my MagicMirror is version 2.17, and I know you said it needs to be 2.2. I tried updating this but it says that it is the latest version.

[2021-12-07 03:01] ryan-d-williams commented on #20
2.2 is a typo (thanks for pointing that out). It looks like 2.17 is the most recent version. 2.17 is fine (the only major requirement is the nunjucks templating system)

When you open the MMM-GoogleSheets folder in the module folder, do you see the node_helper.js file? From your stack trace, that is the file it cannot find. Note that it must be in the base MMM-GoogleSheets folder, it cannot be in

[2021-12-07 03:03] skillfulfrog commented on #20
![capture](https://user-images.githubusercontent.com/95453888/144958548-1f49f865-b88b-4d6f-a05a-cc555cc3fab1.PNG)
This is what is inside the MMM-GoogleSheets folder.

[2021-12-07 03:19] ryan-d-williams commented on #20
Okay that looks like it's good to go.

Can you post the entire output you see when you try to start the MM?

[2021-12-07 03:22] ryan-d-williams commented on #20
Additionally, try
`npm install`
in the base folder

[2021-12-07 03:22] ryan-d-williams commented on #20
Additionally, try `npm install` in the base folder

[2021-12-07 03:23] skillfulfrog commented on #20
These are the error messages I get in the log. I did run npm install in ~/MagicMirror/modules/MMM-GoogleSheets.
![Capture1](https://user-images.githubusercontent.com/95453888/144960441-97d80266-4554-44dd-ab51-62b12a25a141.PNG)
![Capture2](https://user-images.githubusercontent.com/95453888/144960446-3904aa2e-f068-4786-85b7-cd09b5159382.PNG)

[2021-12-07 03:27] ryan-d-williams commented on #20
Looks like the issue is not the MMM-GoogleSheets module, it cannot find the node_module "request" (first screenshot).

Try `npm install` in the base folder

If that doesn't work, try `npm install request`

[2021-12-07 03:28] skillfulfrog commented on #20
By base folder do you mean in the MMM-GoogleSheets, or in the Modules folder?

[2021-12-07 03:30] ryan-d-williams commented on #20
It's been a while since I've looked at the file structure, but it should be the base "MagicMirror" folder.

[2021-12-07 03:40] skillfulfrog commented on #20
Tried reinstall the module, still having errors. I just might not be able to include this module in my design.

[2021-12-07 03:43] ryan-d-williams commented on #20
The problem is not with the module installation. The problem is that MM cannot find the "request" module. It used to come standard with MM. I will look into if that is no longer the case.

If you go to the module folder, and try `npm install request`, it should install the request module into that folder for the module to see.

[2021-12-07 19:29] skillfulfrog commented on #20
Using the npm install request worked, and the Mirror runs. I am running into a problem where the sheet is stuck on "loading". Do you know how to fix?

[2021-12-07 23:45] ryan-d-williams commented on #20
It looks like your google apps script is not set up correctly. When I click on your link from the config file, I see the error:

"Script function not found: doGet"

That means it was not set up properly. Did you follow the steps to include the google apps script library listed in the instructions as well as make sure you have a function called doGet in  your script?

[2021-12-08 00:00] skillfulfrog commented on #20
I followed the directions. This is the only code I have in the script:
function doGet(e){
  return MMMGoogleSheets.doGet(e);
}

[2021-12-08 00:09] skillfulfrog commented on #20
Do I need to "enable" the script in my google sheet?

[2021-12-08 00:10] ryan-d-williams commented on #20
I'm not sure what that means. You don't have to do anything outside of the directions.

That error means that whichever script you deployed via the instructions, it does not think there is a function called "doGet" which is key to the operation of the module.

I would make sure the code is saved like you have above and follow the deployment steps again.

[2021-12-08 00:11] skillfulfrog commented on #20
Okay I will try running through the steps again, I think the UI has slightly changed since you posted the latest instructions.

[2021-12-08 00:13] ryan-d-williams commented on #20
Okay thank you for the info! I will take a look.

[2021-12-08 00:32] skillfulfrog commented on #20
Tried following the directions again, still no luck. I'm not sure what I am doing wrong.

[2021-12-08 00:50] ryan-d-williams commented on #20
What is the new link you are putting in the config file?

[2021-12-08 00:51] skillfulfrog commented on #20
https://script.google.com/macros/s/AKfycbxS7tvQViVgvsrqSJyKDZEhZPtr4oXcbSTgSyxM3JXNyTxDlfNX_QAiaUNXUtPl94Yp0w/exec

[2021-12-08 00:53] ryan-d-williams commented on #20
Try clicking that link. You will see "the requested file does not exist". That means the deployment is not happening

I tried following the directions again myself with a new test project. While you are correct the UI has changed, the deployment process has not and it is working as expected. Make sure you are copying the link from the new deployment, and that is deployed as a web app that can be r

[2021-12-08 03:33] skillfulfrog commented on #20
Got it to work, thank you for your help! Do you have the config parameters for the second "scoreboard" image you uploaded?

[2021-12-08 03:58] ryan-d-williams commented on #20
No problem! Do you mind giving a brief description of what you did differently that got it to work in case anyone in the future reads this thread and has the same problem?

I don't have the exact config for that example. However, there are many different ways you could make that happen
1. Style it exactly like that in your google sheet (with the black background on all but the first row) and use t

[2021-12-11 00:51] dpappo opened #21 "Could not load config file. Error found: Error: Cannot find module 'request'"
Firstly, thank you for creating and sharing this software. It's excellent.

Post-install and config, launching MM lead to `WARNING! Could not load config file. Starting with default configuration. Error found: Error: Cannot find module 'request'`

I've temporarily fixed the issue on my mirror by running `npm install request` in the module's directory.

You'll probably need to include a package.jso

[2021-12-12 00:10] #20 closed

[2021-12-12 00:12] ryan-d-williams commented on #21
@dpappo thanks for pointing this out. It looks like the newest release of MM does not come with the request module like it used to. I'm going to leave this issue open until I get a chance to update the module / instructions.

For now, if you are reading this issue, then you must navigate to the module folder (MMM-GoolgeSheets) and run
`npm install requst`
In order to get the module to work

[2021-12-12 01:48] dpappo commented on #21
Perfect, thanks @ryan-d-williams. I would also recommend adding a general `npm install` command to the readme before or after the `npm install request` command, which I ran for the install.

Thanks again for your work here!

[2022-01-06 15:18] McLoud2014 opened #22 "Auto update formulas on sheet"
Right now I am using MMM_GoogleSheet to display a list of daily chores on my MM. The list is broken down by kid and the chore changes each day. The google sheet has formulas that lookup the date from a chart and pulls the correct name based on the parameters. The issue I have is the google sheet will not update unless I have the sheet open.

Is there anyway to force MM to refresh the sheet? Or a s

[2022-03-24 00:32] XAGSolutions opened #23 "Google Sheets - Loading..."
We are running into an issue with the module displaying data.

{
  code: 'MODULE_NOT_FOUND',
  requireStack: [
    '/Users/admin/MagicMirror/modules/MMM-GoogleSheets/node_helper.js',
    '/Users/admin/MagicMirror/js/app.js',
    '/Users/admin/MagicMirror/js/electron.js',
    '/Users/admin/MagicMirror/node_modules/electron/dist/Electron.app/Contents/Resources/default_app.asar/main.js',
    undefine

[2022-04-07 09:44] YeetGott commented on #23
same problem

[2022-04-08 13:49] redshiftgraphics commented on #23
Debugging the code in Google Sheets Apps Script shows an error in the doGet() function.

`TypeError: Cannot read property 'parameters' of undefined
doGet @  Code.gs:3`

[2022-04-09 17:31] ryan-d-williams commented on #23
@XAGSolutions @YeetGott @redshiftgraphics

This is usually an issue with the MM configuration or the permissions for the google sheet you are trying to access.

If you can post your configuration you are using I can try to help you diagnose the problem.

[2022-04-14 21:27] XAGSolutions commented on #23
{
  module: "MMM-GoogleSheets",
  header: "ZENDESK",
  position: "top_right",
  config: {
    url: "https://script.google.com/macros/s/REDACTED_FOR_PRIVACY",
    sheet: "COUNTLIVE",
    range: "A1:A4",
    updateInterval: 1, // minutes
    requestDelay: 250 // ms
  }
},

[2022-04-15 21:26] XAGSolutions commented on #23
[15.04.2022 14:24.59.383] [ERROR] Whoops! There was an uncaught exception...
[15.04.2022 14:24.59.384] [ERROR] SyntaxError: Unexpected token < in JSON at position 1
    at JSON.parse (<anonymous>)
    at Request._callback (/Users/admin/MagicMirror/modules/MMM-GoogleSheets/node_helper.js:47:27)
    at Request.self.callback (/Users/admin/MagicMirror/modules/MMM-GoogleSheets/node_modules/request/requ

[2022-04-17 02:56] ryan-d-williams commented on #23
@XAGSolutions this is usually caused when the parameters or permissions are incorrect.

I can't directly see the problem without the link. When you type the following address into your browser, what do you see?

https://script.google.com/macros/s/REDACTED_FOR_PRIVACY?sheet=COUNTLIVE&range=A1:A4

Note that you will need to change the url to be your actual url and not the redacted one. This is the a

[2022-04-21 01:15] XAGSolutions commented on #23
@ryan-d-williams I added that REDACTED_FOR_PRIVACY for this post.  I have the actual correct link in my config file.

[2022-04-21 01:18] XAGSolutions commented on #23
<img width="708" alt="image" src="https://user-images.githubusercontent.com/46761745/164352452-9c0ea0a9-29c1-4633-9d78-45f59f4c0b77.png">
This is what I see when I go to the actual link.

[2022-04-21 01:25] XAGSolutions commented on #23
<img width="735" alt="image" src="https://user-images.githubusercontent.com/46761745/164353210-5fddec6e-f611-4ca2-a7ff-2bfed67c6603.png">
I also see this when I am logged in.

[2022-04-28 17:01] XAGSolutions commented on #23
@ryan-d-williams any advice on correcting this?  I have followed the walkthrough again on a new account and I am still getting the same lin 11 of code error.

[2022-05-16 16:01] SARCux commented on #23
I have the same problem
`TypeError: Cannot read property '0' of undefined (Zeile 11, Datei "Code")`

[2022-06-19 06:03] CurlyQ12391 opened #24 "Can this module apply to GoogleDocs?"
This is less of an issue and more of a question. How easy would it be to apply this same module construct to instead display a GoogleDoc? I would rather use Docs instead of Sheets to display my grocery list, but am too much of a newbie to figure it out myself.

Is this something that could done? perhaps by using a different Apps Library and code?

[2022-06-26 06:41] shiring11 commented on #23
same here...any solutions??

[2022-06-26 20:22] ryan-d-williams commented on #23
If this is what you see when you go to a link that is formatted like:
https://script.google.com/macros/s/REDACTED_FOR_PRIVACY?sheet=COUNTLIVE&range=A1:A4
(where READACTED_FOR_PRIVACY) is replaced with your actual sheet id

Then it is definitely a permissions issue. It means your sheet has not been set for the "anyone" settings, which is why you're seeing that permissions screen.

I went ahead and

[2022-06-26 20:25] ryan-d-williams commented on #23
@SARCux @shiring11

Based on past issues and this thread, the most common cause of this problem is permissions not being set properly. If you do not have sensitive data, please post your configuration that you are using and I can make sure it is in fact a permissions problem and not something else. If you do have sensitive data, double check your permissions to make sure they are set appropriately

[2022-06-26 20:28] ryan-d-williams commented on #24
@CurlyQ12391 it absolutely can be done! Google Apps Script has a very extensive library of integrations that can be used for Google Sheets, Docs, Slides, etc. [You can find the documentation here](https://developers.google.com/apps-script/guides/docs).

If you don't want to go through the process of creating an entirely new module, you could import your document into google sheets and use this mod

[2022-06-26 20:28] #24 closed

[2022-06-26 20:29] ryan-d-williams commented on #22
This is a great idea! I will add this to the next iteration.

[2022-07-02 14:21] shiring11 commented on #23
Hello,

I tried everything, I went through the instructions step by step. I know there is a permissions problem. I don't know how to change it.

my config:

  module: "MMM-GoogleSheets",
  header: "Finnis Stundenplan",
  position: "bottom_right",
  config: {
    url: "https://script.google.com/macros/s/AKfycbzRHXjczblbZdLL72twrTkmbMAzQcK5JONVPPfOWEMRG89o-kDR/exec",
    sheet: "Finns Stundenplan",

[2022-07-07 10:31] shiring11 commented on #23
That was the solution!!

i didn't see the table name (below), renamed it now - it works!

Many thanks for your help!
<img width="871" alt="Bildschirmfoto 2022-07-07 um 12 26 43" src="https://user-images.githubusercontent.com/108211962/177753323-f88b06fc-058f-48c2-b3d3-a08fa7387dc1.png">

[2022-07-07 22:00] ryan-d-williams commented on #23
@XAGSolutions @redshiftgraphics @SARCux @YeetGott
Recommend looking at the fix above in case it also helps you. As a summary 2 things you need to check:
1. You are actually using the sheet name, not the doc name
2. You have set the permissions to anyone, even anonymous

I'll leave this issue open for a few weeks if anyone else wants to comment before closing!

[2022-09-03 19:24] retroflex opened #25 "Auto range?"
Nice module! Is there any way to automatically set the range (e.g. A1:B6) to include all non-empty cells in the sheet? In case I want to show a sheet that varies in nr of rows for example.

[2022-09-04 14:03] SARCux commented on #23
Hi, @ryan-d-williams
here my config

`//** Stundenplan
		{
		module: "MMM-GoogleSheets",
		header: "Stundenplan Schule",
		position: "top_center",
		config: {
			url: "https://script.google.com/macros/s/AKfycbxI3aP6W4Z8d_Dt3QYvAgj7RvZUPqQyCeX7MtNnD0cq4vFIhf1d4dJTbFhkH4LJNrx8Zg/exec",
			sheet: "Stundenplan",
			range: "A1:F7",
			cellStyle: "invert",
			stylesFromSheet: ["text-align", "color"],

[2022-09-06 06:36] 1Cedric1 commented on #23
Hello @ryan-d-williams
and thank you for the opportunity to use your module.

I encounter the same situation as desribed below (TypeError: Cannot read property '0' of undefined (Zeile 11, Datei "Code"))

As I could see the permission, the option "anyone, even anonymous" is not available, when I want to deploy.

![Capture](https://user-images.githubusercontent.com/61581150/188563525-b27c4c7c-29b0-4

[2022-09-07 03:35] ryan-d-williams commented on #23
@SARCux your setup looks okay. What problem are you encountering?

[2022-09-07 03:37] ryan-d-williams commented on #23
@1Cedric1 I had to type most of that into google translate so I may be incorrect, but the "everyone" option should be what you're looking for. Can you post your configuration? Make sure you are using the sheet name NOT the document name.

[2022-09-07 03:39] ryan-d-williams commented on #25
@retroflex

You can't currently do this with the module directly, but you can accomplish this by creating a new sheet that does the filtering for you, and then you can import that sheet into the module.

What is the use case if you don't mind me asking? If it something that a lot of people will use I can add it in a future version.

[2022-09-07 13:56] retroflex commented on #25
My use case is I use a sheet for my kids' weekly recurring activities for the family to keep up with everyday life. My partner wants to add different stuff to this, like comments (more rows) or more activites (more columns) easily. Not a big deal, just would be a nice feature.

[2022-09-09 08:32] 1Cedric1 commented on #23
Hello @ryan-d-williams
thank you for your response and sorry for the translation effort.

Please find here some printscreens:

**the error**
![5](https://user-images.githubusercontent.com/61581150/189307021-704b1e8a-9928-4116-a7a6-02cb42a8092f.JPG)

**script in Google Sheets**
![1](https://user-images.githubusercontent.com/61581150/189307172-e87ab616-5928-4f54-b53c-fb9743164482.jpeg)

**congif in

[2022-09-13 14:04] 1Cedric1 commented on #23
Dear @ryan-d-williams,

in the comment you posted on 26/06, we can see that the construct of the URL (yellow part) ...

![image](https://user-images.githubusercontent.com/61581150/189921215-dc67011f-f7c5-463d-ab66-a7df0b4a4934.png)

... is different than the URL provided by Google document ending with  "/exec".
![image](https://user-images.githubusercontent.com/61581150/189921991-ad8a9bbb-b134-487

[2022-09-15 14:01] 1Cedric1 commented on #23
Hello @ryan-d-williams,
I could test it again in a browser, and get the codes, even if not connected with my google account:
![1](https://user-images.githubusercontent.com/61581150/190422601-ce0dc6b5-d864-47cc-a12a-55f6edbb55f0.jpeg)
as in Google Sheet. So it should not be a permission problem I suppose.
![2](https://user-images.githubusercontent.com/61581150/190422697-fc11e2de-7970-4a3f-8d68-d886